<h1 class="text-center" id="txtNickname">Chat</h1>

<div class="container chat">
    <div class="list-messages" id="messages">

    </div>
    <div class="input-message">
        <input type="text" id="chatInputMessage" placeholder="Escriba aqui su mensaje...">
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/socket.js"></script>
<script src="/js/chat.js"></script>