<h1 class="text-center">Bienvenido {{user.name}} a la tienda!</h1>
<div class="container">
    <table id="tblProducts">
        <thead>
            <tr>
                <th class="text-center">Imagen</th>
                <th class="text-center">Codigo</th>
                <th class="text-left">Producto</th>
                <th class="text-center">Precio</th>
                <th class="text-center">Stock</th>
            </tr>
        </thead>
        <tbody>
            <!--List products-->
        </tbody>
    </table>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/socket.js"></script>
<script src="/js/home.js"></script>